{% extends "main.html" %}
{% load static %}
{% block content %}
    <div id="process-header">
        <div id="process-header">
            {% csrf_token %}
            <button type="button" id="start-btn">Send Start</button>
            <button type="button" id="abort-btn">Send Abort</button>
        </div>
    </div>
    <div id="serial-output">ველოდები მონაცემებს...</div>
    <script>
        (function() {
            const output = document.getElementById("serial-output");
            let reconnectDelay = 1000;
            let source;

            function connect() {
                source = new EventSource("{% url 'proc:serial_stream' %}");
                source.onopen = function() {
                    reconnectDelay = 1000;
                };
                source.onmessage = function(event) {
                    output.textContent = event.data;
                };
                source.onerror = function() {
                    source.close();
                    setTimeout(connect, reconnectDelay);
                    reconnectDelay = Math.min(
                        reconnectDelay * 2,
                        15000
                    );
                };
            }
            connect();
        })();

        function sendCommand(command) {

            fetch("{% url 'proc:process' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": document.querySelector(
                            "[name=csrfmiddlewaretoken]"
                        ).value,
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    body: new URLSearchParams({
                        action: command
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                });
        }


        document.getElementById("start-btn")
            .onclick = () => sendCommand("start");


        document.getElementById("abort-btn")
            .onclick = () => sendCommand("abort");
    </script>
{% endblock content %}
