{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/css/main.css" %}">
    <link rel="stylesheet" href="{% static "/css/camsettings.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
            <div class="logo">
                <h1>MINITELSY</h1>
                <p class="subtitle">TSR 4000 CONTROLLER</p>
            </div>
            <nav class="menu">
                <a class="menu-btn" href="/">main</a>
                <a class="menu-btn" href="/cam">cam</a>
            </nav>
    </div>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
