{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block extra_css %}
    {% endblock extra_css  %}

    <title>MINITELSY</title>
  </head>

  <body>
    <div class="sidebar">
      <div class="logo">
        <h1>MINITELSY</h1>
        <p class="subtitle">TSR 4000 CONTROLLER</p>
      </div>

      <nav class="menu">
        <a class="menu-btn" href="/"> MAIN </a>

        <div class="settings-container">
          <button
            class="menu-btn dropdown-btn"
            onclick="toggleMenu('settings')"
          >
            SETTINGS
          </button>

          <div class="submenu" id="settings">
            {% for camera in cameras %}
            <a class="menu-btn" href="/cam/{{ camera.id }}">
              {{ camera.cam_name }}
            </a>
            {% endfor %}
          </div>
        </div>
      </nav>
    </div>
    <div id="content">{% block content %} {% endblock content %}</div>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
